@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.no-scrollbar{
    -ms-overflow-style: none;
}

.navbar_bg {
    background-color: #b0b0b0;
}

.hilang{
    opacity: 0%;
    width: 30px;
}

.background-image {
    background-image: url('/img/rumah_bg_50.png'); /* Adjust the path as necessary */
    background-size: contain; /* Cover the entire area */
    background-position: center;
    /* height: 100vh; Full viewport height */
    width: 100%; /* Full width */
}


.translate-y-5vh {
    transform: translateY(-5vh);
}

.translatey-5vh {
    transform: translateY(5vh);
}

.centered-div {
    display: flex;
    min-height: 100vh;
    justify-content: center;
} 


.nav-link.custom {
    background-color: white;
    color: black !important;
}

.nav-link.customfont {
    color: white;
}


/* .frame.active {
    box-shadow: inset -5px 0 0 0 #ffffff;
    color: #ffff;
}


.lincia {
    box-shadow: inset -5px 0 0 0 #ffffff;
    color: #ffffff;
} */